body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
}

header {
  background-color: #4e8b7d;
  text-align: left;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('images.jpg');
  padding: 50px;
}

footer {
  background-color: #4e8b7d;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.hero-btn {
  color: #fff;
  position: center;
  cursor: pointer;
}
